<% content_for :content do %>
    <div class="team-content">
      <% @teams.each do |team| %>
          <div class="team">
            <table border="0">
              <tr>
                <td rowspan="4" width="300"><%= image_fu(team.image, "300x220") %></td>
              </tr>
              <tr>
                <td width="400"><span class="name"><%= team.name %></span></td>
              </tr>
              <tr>
                <td><span class="function"><%= team.function %></span></td>
              </tr>
              <tr>
                <td><%= team.description.gsub(%r{</?/p?>}, '<br />').gsub(%r{</?p?>}, '').html_safe %></td>
              </tr>
            </table>
          </div>
      <% end %>
    </div>

    <div class="sidebar">
      <div class="team-menu">
        <%= render :partial => "refinery/menu", :locals => {:roots => Refinery::Menu.new(Refinery::Page.fast_menu.where(:parent_id => @page.root.id))} %>
      </div>
    </div>
<% end %>

<% content_for :footer do %>
    <% @footer.each do |footer| %>
        <table border="0">
          <tr><td><%= footer.title %></td></tr>
          <tr><td><%= footer.content.gsub(%r{</?/p?>}, '<br />').gsub(%r{</?p?>}, '').html_safe %></td></tr>
        </table>
    <% end %>
<% end %>