<% content_for :body_content_title do %>
  <%= @team.name %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Name</h1>
    <p>
      <%=raw @team.name %>
    </p>
  </section>
  <section>
    <h1>Function</h1>
    <p>
      <%=raw @team.function %>
    </p>
  </section>
  <section>
    <h1>Description</h1>
    <p>
      <%=raw @team.description %>
    </p>
  </section>
  <section>
    <h1>Image</h1>
    <p>
      <%= image_fu @team.image, nil %>
    </p>
  </section>
  <section>
    <h1>School</h1>
    <p>
      <%=raw @team.school %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="teams">
      <% @teams.each do |team| %>
        <li>
          <%= link_to team.name, refinery.teams_team_path(team) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
